livenessProbe:
  enabled: false
  initialDelaySeconds: 5
  periodSeconds: 20
  path: /live
  port: 8080

readinessProbe:
  enabled: false
  initialDelaySeconds: 1
  periodSeconds: 10
  path: /ready
  port: 8080

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80

resources:
  requests:
    memory: "512Mi"
    cpu: "1000m"
  limits:
    memory: "512Mi"
    cpu: "1500m"

configMap:
  name: ydirect-vbai-cm
  data:
    LOG_LEVEL: "INFO"
    OTLP_ADDRESS: "otel-collector-opentelemetry-collector.prometheus.svc.cluster.local:4317"
    SERVICE_NAME: "ydirect-vbai"
    GATEWAY_DOMAIN: "http://apistage.velesbsd.com"
    GATEWAY_URL: "http://api-vbai-svc:80"

